{% extends 'base.html.twig' %}

{% block title %}
  {% if action == "ajouter" %}
    Ajout d'une entreprise
  {% else %}
    Modification d'une entreprise
  {% endif %}
{% endblock %}

{% block contenu %}
  <h3>Saisissez les caractéristiques de l'entreprise que vous souhaitez ajouter.</h3>
  {{ form_start(vueFormulaire) }}

    {{ form_row(vueFormulaire.nom, {'attr':{'placeholder':"Nom de l'entreprise..."}}) }}
    {{ form_row(vueFormulaire.adresse, {'attr':{'placeholder':"Adresse de l'entreprise..."}}) }}
    {{ form_row(vueFormulaire.site_web, {'attr':{'placeholder':"www.monentreprise.fr..."}}) }}

    <button type="submit" class="btn btn-primary">Enregistrer</button>

  {{ form_end(vueFormulaire) }}
{% endblock %}
