{% extends 'base.html.twig' %}

{% block title %}
    {% if action == "ajouter" %}
        Ajout d'un stage
    {% else %}
        Modification d'un stage
    {% endif %}
{% endblock %}

{% block contenu %}
    <h3>Saisissez les caractéristiques du stage que vous souhaitez ajouter.</h3>
    <div class="row">
        <div class="col-5">
            {{ form_start(vueFormulaire) }}

            {{ form_row(vueFormulaire.intitule, {'attr':{'placeholder':"Intitule du stage..."}}) }}
            {{ form_row(vueFormulaire.description, {'attr':{'placeholder':"Description du stage..."}}) }}
            {{ form_row(vueFormulaire.competenceRequise, {'attr':{'placeholder':"Compétences requises..."}}) }}
            {{ form_row(vueFormulaire.dateDebut, {'attr':{'placeholder':"Date de début..."}}) }}
            {{ form_row(vueFormulaire.duree, {'attr':{'placeholder':"Durée du stage en jours..."}}) }}
            {{ form_row(vueFormulaire.emailEntreprise, {'attr':{'placeholder':"Email de l'entreprise..."}}) }}

            <button type="submit" class="btn btn-primary">Enregistrer</button>

            {{ form_end(vueFormulaire) }}
        </div>
    </div>
{% endblock %}
